include "ADBase.template"

######################
# Override ADBase to extend Trigger Mode
######################
record(mbbo, "$(P)$(R)TriggerMode")
{
   field(ZRST, "Live - ITR")
   field(ZRVL, "0")
   field(ONST, "Live - FFR")
   field(ONVL, "1")
   field(TWST, "Ext. Triggered")
   field(TWVL, "2")
   field(THST, "Btn. Triggered")
   field(THVL, "3")
 }

record(mbbi, "$(P)$(R)TriggerMode_RBV")
{
   field(ZRST, "Live - ITR")
   field(ZRVL, "0")
   field(ONST, "Live - FFR")
   field(ONVL, "1")
   field(TWST, "Ext. Triggered")
   field(TWVL, "2")
   field(THST, "Btn. Triggered")
   field(THVL, "3")
}

record(bo, "$(P)$(R)SoftTrigger")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_SOFT_TRIGGER")
   field(ZNAM, "Done")
   field(ONAM, "Trigger")
}

record(bo, "$(P)$(R)TriggerPolarity")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TRIGGER_POLARITY")
   field(ZNAM, "Rising Edge")
   field(ONAM, "Falling Edge")
}

record(bi, "$(P)$(R)TriggerPolarity_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TRIGGER_POLARITY")
   field(ZNAM, "Rising Edge")
   field(ONAM, "Falling Edge")
   field(SCAN, "I/O Intr")
}

record(bo, "$(P)$(R)UpdateTemperature")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_UPDATE_TEMPERATURE")
   field(ZNAM, "Updated")
   field(ONAM, "Updated")
   field(SCAN, "5 second")
}

record(bo, "$(P)$(R)UpdateStatus")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_UPDATE_STATUS")
   field(ZNAM, "Updated")
   field(ONAM, "Updated")
}

record(ai, "$(P)$(R)TemperaturePCB")
{
   field(DTYP, "asynFloat64")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TEMPERATURE_PCB")
   field(PREC, "3")
   field(EGU, "C")
   field(SCAN, "I/O Intr")
}

record(bo, "$(P)$(R)ToggleTEC")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_TEC")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
}

record(bi, "$(P)$(R)ToggleTEC_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_TEC")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
   field(SCAN, "I/O Intr")
}

record(bo, "$(P)$(R)ToggleGain")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_GAIN")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
}

record(bi, "$(P)$(R)ToggleGain_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_GAIN")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
   field(SCAN, "I/O Intr")
}

record(bo, "$(P)$(R)ToggleFPGAComms")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_FPGA_COMMS")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
}

record(bi, "$(P)$(R)ToggleFPGAComms_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_FPGA_COMMS")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
   field(SCAN, "I/O Intr")
}

record(stringin, "$(P)$(R)BuildDate_RBV")
{
   field(DTYP, "asynOctetRead")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_BUILD_DATE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)ADCCalibrationZeroDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_ADC_CALIBRATION_ZERO_DEGREE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)ADCCalibrationFortyDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_ADC_CALIBRATION_FORTY_DEGREE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)DACCalibrationZeroDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_DAC_CALIBRATION_ZERO_DEGREE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)DACCalibrationFortyDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_DAC_CALIBRATION_FORTY_DEGREE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)AcquireTime_RBV")
{
   field(EGU, "ms")
}

record(ai, "$(P)$(R)AcquireTime")
{
   field(EGU, "ms")
}

record(ao, "$(P)$(R)AcquirePeriod")
{
   field(EGU, "s")
}

record(ai, "$(P)$(R)AcquirePeriod_RBV")
{
   field(EGU, "s")
}
