# Pixci.template
# Database template for ADPixci, overrides some records from ADBase (ADCore) 
# and adds Pixci specific records
#

include "ADBase.template"

################################################################################
# Override ADBase to extend Trigger Mode and RBV
#
record(mbbo, "$(P)$(R)TriggerMode")
{
   field(ZRST, "Live - ITR")
   field(ZRVL, "0")
   field(ONST, "Live - FFR")
   field(ONVL, "1")
   field(TWST, "Ext. Triggered")
   field(TWVL, "2")
   field(THST, "Btn. Triggered")
   field(THVL, "3")
   field(DISP, "1")
}

record(mbbi, "$(P)$(R)TriggerMode_RBV")
{
   field(ZRST, "Live - ITR")
   field(ZRVL, "0")
   field(ONST, "Live - FFR")
   field(ONVL, "1")
   field(TWST, "Ext. Triggered")
   field(TWVL, "2")
   field(THST, "Btn. Triggered")
   field(THVL, "3")
   field(FLNK, "$(P)$(R)WriteEnabler")
}

################################################################################
# Records for sending a soft trigger and setting external trigger mode polarity
#
record(bo, "$(P)$(R)SoftTrigger")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_SOFT_TRIGGER")
   field(ZNAM, "Done")
   field(ONAM, "Trigger")
   field(DISP, "1")
}

record(bo, "$(P)$(R)TriggerPolarity")
{
   field(PINI, "1")
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TRIGGER_POLARITY")
   field(ZNAM, "Rising Edge")
   field(ONAM, "Falling Edge")
   field(DISP, "1")
   info(autosaveFields, "VAL")
}

record(bi, "$(P)$(R)TriggerPolarity_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TRIGGER_POLARITY")
   field(ZNAM, "Rising Edge")
   field(ONAM, "Falling Edge")
   field(SCAN, "I/O Intr")
}

################################################################################
# Record for enabling write access of various PVs after the device has first
# initialised and sent a Trigger Mode back to the IOC
#
record(dfanout, "$(P)$(R)WriteEnabler") {
   field(DOL, "0")
   field(OUTA, "$(P)$(R)WriteEnabler.DISV")
   field(OUTB, "$(P)$(R)TriggerPolarity.DISP")
   field(OUTC, "$(P)$(R)TriggerMode.DISP")
   field(OUTD, "$(P)$(R)Acquire.DISP")
   field(OUTE, "$(P)$(R)SoftTrigger.DISP")
   field(OMSL, "closed_loop")
}

################################################################################
# Record for the temperature reading from the device PCB 
#
record(ai, "$(P)$(R)TemperaturePCB")
{
   field(DTYP, "asynFloat64")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TEMPERATURE_PCB")
   field(PREC, "3")
   field(EGU, "C")
   field(SCAN, "I/O Intr")
}

################################################################################
# If this record is processed, the driver will update the PCB temperature, the 
# actual temperature, and the maunfacturer information 
#
record(bo, "$(P)$(R)UpdateStatus")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_UPDATE_STATUS")
}

################################################################################
# Records related to ThermoElectric Cooling (TEC)
#
record(bo, "$(P)$(R)ToggleTEC")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_TEC")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
}

record(bi, "$(P)$(R)ToggleTEC_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_TEC")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
   field(SCAN, "I/O Intr")
}

record(bo, "$(P)$(R)UpdateTemperature")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_UPDATE_TEMPERATURE")
   field(SCAN, "5 second")
}

# Analogue to Digital Converter Section
record(ai, "$(P)$(R)ADCCalibrationZeroDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_ADC_CALIBRATION_ZERO_DEGREE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)ADCCalibrationFortyDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_ADC_CALIBRATION_FORTY_DEGREE")
   field(SCAN, "I/O Intr")
}

# Digital to Analogue Converter Section
record(ai, "$(P)$(R)DACCalibrationZeroDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_DAC_CALIBRATION_ZERO_DEGREE")
   field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)DACCalibrationFortyDegree_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_DAC_CALIBRATION_FORTY_DEGREE")
   field(SCAN, "I/O Intr")
}

################################################################################
# Records related to pre amp gain
#
record(bo, "$(P)$(R)ToggleGain")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_GAIN")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
}

record(bi, "$(P)$(R)ToggleGain_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_GAIN")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
   field(SCAN, "I/O Intr")
}

################################################################################
# Records realted to the Field-programmable gate array
# 
record(bo, "$(P)$(R)ToggleFPGAComms")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_FPGA_COMMS")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
}

record(bi, "$(P)$(R)ToggleFPGAComms_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TOGGLE_FPGA_COMMS")
   field(ZNAM, "Disabled")
   field(ONAM, "Enabled")
   field(SCAN, "I/O Intr")
}

################################################################################
# Build info and camera model records
#  
record(stringin, "$(P)$(R)BuildDate_RBV")
{
   field(DTYP, "asynOctetRead")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_BUILD_DATE")
   field(SCAN, "I/O Intr")
}

record(stringin, "$(P)$(R)CameraModel")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_CAMERA_MODEL")
   field(SCAN, "I/O Intr")
}

################################################################################
# Override ADCore records for acquire settings
#
record(bo, "$(P)$(R)Acquire") {
   field(DISP, "1")
}

record(ai, "$(P)$(R)AcquireTime_RBV")
{
   field(EGU, "ms")
}

record(ao, "$(P)$(R)AcquireTime")
{
   field(EGU, "ms")
}

record(ao, "$(P)$(R)AcquirePeriod")
{
   field(EGU, "s")
}

record(ai, "$(P)$(R)AcquirePeriod_RBV")
{
   field(EGU, "s")
}

