include "ADBase.template"

######################
# Override ADBase to extend Trigger Mode
######################
record(mbbo, "$(P)$(R)TriggerMode")
{
   field(ZRST, "Live - ITR")
   field(ZRVL, "0")
   field(ONST, "Live - FFR")
   field(ONVL, "1")
   field(TWST, "Ext. Triggered")
   field(TWVL, "2")
   field(THST, "Btn. Triggered")
   field(THVL, "3")
 }

record(mbbi, "$(P)$(R)TriggerMode_RBV")
{
   field(ZRST, "Live - ITR")
   field(ZRVL, "0")
   field(ONST, "Live - FFR")
   field(ONVL, "1")
   field(TWST, "Ext. Triggered")
   field(TWVL, "2")
   field(THST, "Btn. Triggered")
   field(THVL, "3")
}

record(bo, "$(P)$(R)SoftTrigger")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_SOFT_TRIGGER")
   field(ZNAM, "Done")
   field(ONAM, "Trigger")
}

record(bo, "$(P)$(R)TriggerPolarity")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TRIGGER_POLARITY")
   field(ZNAM, "Rising Edge")
   field(ONAM, "Falling Edge")
}

record(bi, "$(P)$(R)TriggerPolarity_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TRIGGER_POLARITY")
   field(ZNAM, "Rising Edge")
   field(ONAM, "Falling Edge")
}

record(bo, "$(P)$(R)UpdateTemperature")
{
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_UPDATE_TEMPERATURE")
   field(ZNAM, "Updated")
   field(ONAM, "Updated")
   field(SCAN, "5 second")
}

record(ai, "$(P)$(R)TemperaturePCB")
{
   field(DTYP, "asynFloat64")
   field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PR_TEMPERATURE_PCB")
   field(PREC, "3")
   field(SCAN, "I/O Intr")
}
